body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    background: rgb(245, 243, 243);
    
  }

.col {
    border: 2px solid black;
    margin-bottom:20px;
    border-radius: 8px;


}

#header {
    background: rgb(27, 51, 25);
    color: white;
    padding:10px;
    border-radius: 7px;
}

#inputDiv {
    padding-bottom: 10px;
    
}

#enterTrain {
    background: rgb(27, 51, 25);
    border: 2px solid rgb(27, 51, 25);
    padding: 10px;
    border-radius: 8px;
    color: white;
}

th {
    font-size: 17px;
    font-weight: bold;   
}

.form-group {
    font-weight: bold;
}

h3 {
   margin-left: 10px; 
    
}

#inputDivTitle {
    background: rgb(27, 51, 25);
    color: white;
    padding: 5px;
    margin-bottom: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

